{% extends "base.html" %}
{% load static %}


{% block Title %}
    Lini Produksi | {{Judul}}
{% endblock Title %}

{% block pageTitle %}
    {{Judul}}
{% endblock pageTitle %}

{% block contents %}

    <div class="container">
        <div class="card" style="margin-bottom:20px;margin-top:20px;">
            <div class="card-header" style="background-color:#d3d9df;">
                <div class="btn-group d-flex" role="group" >
                    <a type="button" class="btn btn-link w-100" href="{% url "engineeringOrder:index" %}">Semua Engineering Order</a>
                    <a type="button" class="btn btn-primary w-100" href="{% url "engineeringOrder:belumDisetujui" %}">Belum Disetujui</a>
                    <a type="button" class="btn btn-link w-100" href="{% url "engineeringOrder:disetujui" %}">Disetujui</a>
                    <a type="button" class="btn btn-link w-100" href="{% url "engineeringOrder:tidakDisetujui" %}">Tidak Disetujui</a>
                </div>
            </div>

            <div class="card-body">

                <table class="table table-hover text-center" style="background-color:white;">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nama Pengusul</th>
                        <th scope="col">Departemen Pengusul</th>
                        <th scope="col">Usulan Material yang Diubah</th>
                        <th scope="col">Keterangan</th>
                        <th scope="col">Tanggal Pengajuan</th>
                        <th scope="col">Persetujuan</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for eo in eo %}
                    <tr>
                        <td>{{eo.idEO}}</td>
                        <td>{{eo.namaPengusul}}</td>
                        <td>{{eo.departemenPengusul}}</td>
                        <td>
                            <b>ID Material: {{eo.material.idMaterial}}</b> <br>
                            Varian: {{eo.material.varian}} <br>
                            Supplier: {{eo.material.namaSupplier}} <br>
                            Penyusun Produk: {{eo.material.penyusunProduk}}
                        </td>
                        <td>{{eo.keterangan}}</td>
                        <td>{{eo.tanggalPengajuan|date:"d-m-Y"}}</td>
                        <td>
                            <a href="{% url "engineeringOrder:setujuEO" eo.id %}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Setuju</a>
                            <br> <br>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                              <i class="fa fa-times" aria-hidden="true"></i> Tidak Setuju
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Engineering Order</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Apakah engineering order tidak disetujui?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    <a href="{% url "engineeringOrder:tidakSetujuEO" eo.id %}" class="btn btn-danger">Ya</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock contents %}