body {
    background-color: #e6ecff;
}



.btn {
  width: 100%;
  color: white;
  background-color: #34495E;
  border: none;
}

.btn:hover {
    background-color: #1B2631;
}

.card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}