{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block Title %}
    Lini Produksi | {{Judul}}
{% endblock Title %}

{% block pageTitle %}

{% endblock pageTitle %}

{% block contents %}
    <div class="container" style="width: 50%;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    padding: 30px;
    margin-top: 185px;
    margin-bottom: 20px;
    margin-left: 25%">
        <form method="POST">
        {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-4" align="center">{{Judul}}</legend>
                {{pengirimanMaterial_form|crispy}}
            </fieldset>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button type="Submit" class="btn btn-primary" style="width: 100%;">Submit</button>
        </form>
    </div>
{% endblock contents %}