{% load templatetags %}
<div class="tab-pane fade" id="peralatanProduksi" role="tabpanel" aria-labelledby="peralatanProduksi-tab">

    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>#</th>
            <th>ID Proses</th>
            <th>Jenis Peralatan</th>
            {% if request.user|has_group:"Designer" %}
            <th>Opsi</th>
            {% endif %}

            {% if request.user|has_group:"Admin" %}
            <th>Opsi</th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for peralatanProduksi in peralatanProduksi %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{peralatanProduksi.proses}}</td>
            <td>({{peralatanProduksi.idPeralatan}}) {{peralatanProduksi.jenisPeralatan}}</td>
            {% if request.user|has_group:"Designer" %}
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url "liniProduksi:deletePeralatanProduksi" peralatanProduksi.id %}?next={{ request.path|urlencode }}">Hapus</a>
                        <a class="dropdown-item" href="{% url "liniProduksi:updatePeralatanProduksi" peralatanProduksi.id %}?next={{ request.path|urlencode }}">Edit</a>
                    </div>
                </div>
            </td>
            {% endif %}

            {% if request.user|has_group:"Admin" %}
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url "liniProduksi:deletePeralatanProduksi" peralatanProduksi.id %}?next={{ request.path|urlencode }}">Hapus</a>
                        <a class="dropdown-item" href="{% url "liniProduksi:updatePeralatanProduksi" peralatanProduksi.id %}?next={{ request.path|urlencode }}">Edit</a>
                    </div>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
