{% extends "base_anonymous.html" %}
{% load static %}


{% block Title %}
    {{Judul}}
{% endblock Title %}

{% block pageTitle %}

{% endblock pageTitle %}

{% block contents %}

    <link rel="stylesheet" type='text/css' href="{% static css %}">
    <div class="container"  style="background-color:#f5f5f5;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="from-group" >
                <legend class="border-bottom mb-4" align="center">{{Judul}}</legend>
            </fieldset>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="username">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                           <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Masukkan username">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                           <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Masukkan password">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Belum mempunyai akun? <a class="ml-2"href="{% url "users:index" %}">Sign Up</a>
                </small>
            </div>
        </form>
    </div>
{% endblock contents %}