{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="static/css/styles_index.css">
{% endblock css %}

{% block Title %}
    Sistem Penjadwalan | {{Judul}}
{% endblock Title %}


{% block pageTitle %}
    <div class="container text-center" style="margin-top:75px;">
        {{Judul}}
    </div>
{% endblock pageTitle %}


{% block contents %}

    <div class="container" style="margin-top:20px;">
        <h5>lorem ipsum</h5>
    </div>

{% endblock contents %}

