{% extends "mainBase.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type='text/css' href="static/css/styles_index.css">
{% endblock css %}

{% block Title %}
    ADiMS | {{Judul}}
{% endblock Title %}


{% block pageTitle %}
{% endblock pageTitle %}


{% block contents %}
    <img src="static/img/mainPage1.png" class="img-fluid" alt="Responsive image" style="margin-top:-60px;">
    <div class="container" style="margin-top:40px;margin-bottom:68px;">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="static/img/productionLine.png" class="card-img-top" alt="produk">
                    <div class="card-body" style="background-color:#343a40">
                        <a href="{% url "home" %}" class="btn"><b>>>></b></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <img src="static/img/taktSystems.png" class="card-img-top" alt="produk">
                    <div class="card-body" style="background-color:#343a40">
                        <a href="#" class="btn"><b>>>></b></a>
                    </div>
                </div>
            </div>

        <div class="col-md-4">
                    <div class="card text-center">
                        <img src="static/img/batchProduction.png" class="card-img-top" alt="jadwal">
                        <div class="card-body" style="background-color:#343a40">
                            <a href="#" class="btn"><b>>>></b></a>
                        </div>
                    </div>
        </div>
    <div class="row justify-content-md-center" style="margin-top:20px;">
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="static/img/warehouse.png" class="card-img-top" alt="jadwal">
                    <div class="card-body" style="background-color:#343a40">
                        <a href="#" class="btn"><b>>>></b></a>
                    </div>
                </div>
            </div>

        <div class="col-md-4">
                <div class="card text-center">
                    <img src="static/img/projectShop.png" class="card-img-top" alt="jadwal">
                    <div class="card-body" style="background-color:#343a40">
                        <a href="#" class="btn"><b>>>></b></a>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
{% endblock contents %}

