 <div class="card-header" style="background-color:#d3d9df;">
   <div class="row">
     <div class="col">
       <ul class="nav nav-pills nav-fill" style="background-color:#d3d9df;">
      <li class="nav-item">
        <a class="nav-link active" href="" id="proses-tab" data-toggle="tab" role="tab" aria-controls="proses" aria-selected="false">Proses</a>
      </li>
    </ul>
     </div>
     <div class="col">
       <ul class="nav nav-pills nav-fill" role="tablist" style="background-color:#d3d9df;">
      <li class="nav-item">
        <a class="nav-link" id="operator-tab" data-toggle="tab" href="#operator" role="tab" aria-controls="operator" aria-selected="true">Operator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="peralatanProduksi-tab" data-toggle="tab" href="#peralatanProduksi" role="tab" aria-controls="peralatanProduksi" aria-selected="false">Peralatan Produksi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="kebutuhanMaterial-tab" data-toggle="tab" href="#kebutuhanMaterial" role="tab" aria-controls="kebutuhanMaterial" aria-selected="false">Kebutuhan Material</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pengirimanMaterial-tab" data-toggle="tab" href="#pengirimanMaterial" role="tab" aria-controls="pengirimanMaterial" aria-selected="false">Informasi Pengiriman Material</a>
      </li>
    </ul>
     </div>
   </div>
  </div>